{% extends 'homepage/base.html' %} 
{% block content %}
{% load static %}

<div class="container-fluid justify-content-center" style="padding-top:10%; max-width: 1200px;" >
    <h4>Overview</h4>
    <hr class="bg-danger border-2 border-top">
    <p style="margin-bottom:40px;">I am currently an honors computer science student at Texas A&M University 
        set to graduate in spring 2023. I'm also a peer teacher and really enjoy helping others understand 
        computer science concepts. In the summer of 2021, I worked as a research assistant in graph neural networks. The 
        concepts were complicated but extremely fascinating, and I learned a lot about machine learning, both theoretically 
        and practically (using PyTorch). Right now (summer 2022) I am interning at IBM on the Global Cloud Optimization Team 
        (GCOT) and learning a lot about cloud technologies and architecture. Some of the main technologies we are using include, 
        Kubernetes, Go, and Docker. 
        
        <!-- Recently I competed in a hackathon where my team won the "Judge's Choice" award. We 
        developed a full stack web application using Django and React which detected the user's mood using 
        machine learning and played a song fitting that mood in the UI. You can check out the project here. -->
    </p>
    <h4>Interests</h4>
    <hr class="bg-danger border-2 border-top">
    <p style="margin-bottom:40px;">I really enjoy developing web apps because of how universally available they are.
        Also, you can visually see the results of all your work on the frontend, and then you can puzzle out more logical
        difficulties to enhance functionality on the backend. Outside of school and work you can usually find me at the gym, I love weightlifting 
        and the challenges of constant improvement. I'm also an avid fantasy reader, some of my favorite series include The Stormlight Archive by Brandon Sanderson
        and The Wheel of Time by Robert Jordan.
    </p>
        
    <h4>Projects</h4>
    <hr class="bg-danger border-2 border-top">
    <p style="margin-bottom:40px;">Please check out some of my other projects on <a href="https://www.github.com/Prometheus1400">GitHub</a> such as the 
        tetris game I coded in C++, or my deep learning model designed for the 2021 KDD Cup. Feel 
        free to look at my resume and contact me.</p>
</div>

{% endblock content %}
