{% extends 'homepage/base.html' %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}  

<div>
    <div class="container-xl" style="padding:25px; max-width:800px; margin-bottom:20px; margin-top:20px;">
        <div class="row ">
            <div class="col text-center">
                <a href="https://github.com/Prometheus1400">
                    <img src="{% static 'homepage/icons/github.svg' %}" class="my-icon"/>
                </a>
            </div>
            <div class="col text-center">
                <a href="https://www.instagram.com/kaleb_dickerson_/?hl=en">
                    <img src="{% static 'homepage/icons/instagram.svg' %}" class="my-icon"/>
                </a>
            </div>
            <div class="col text-center">
                <a href="mailto: prometheus1400@gmail.com">
                    <img src="{% static 'homepage/icons/mail.svg' %}" class="my-icon"/>
                </a>
            </div>
            <div class="col text-center ">
                <a href="https://www.linkedin.com/in/kaleb-dickerson2023">
                    <img src="{% static 'homepage/icons/linkedin.svg' %}" class="my-icon"/>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid"> 
        <div class="row justify-content-center" style="margin-left:5%; margin-right:5%">
                Check out my socials above. Alternatively you can send me a message right here!
        </div>
    </div>

    {% if form %}
    <div class="container my-form" >
        <form action="/contact/" method="post" class="contact-form" >
            {% csrf_token %}
            <div class="row">
                <div class="col-lg">
                {{ form.email|as_crispy_field }}
                </div>
                <div class="col-lg">
                {{ form.organization|as_crispy_field }}
                </div>
            </div>
            {{ form.message|as_crispy_field }}
            {{ form.reason|as_crispy_field }}
            <button class="btn btn-primary" type="submit" value="Submit"> Submit </button>
        </form>
    </div>

    {% elif thanks %}
    <div class="container-fluid" style="margin-top:40px;"> 
        <div class="row justify-content-center" style="margin-left:5%; margin-right:5%">
            Thank you! I'll be in contact with you shortly. :)
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}
