body {
  background-color: rgb(58, 60, 65);
  /* background-color: #4D5157; */
  color:white;
}

.navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
}

.my-form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.99);
  padding:15px;
  color:black;
  max-width: 800px;
  width: 95%;
}

.my-icon {
  width: 30px;
}

.my-icon:hover {
    cursor: pointer;
}